.futur {
    & h2 {
        margin: 10px 0;
        font-size: 16px;
    }

    .wp-block-heading{
        font-size: 30px;
        color: #C4E7D4;
    }

    & img {
        width: 120%;
    }

    & p, li {
        font-family: "Work Sans", sans-serif;
        font-size: 13.5px;
        width: 120%;
        text-decoration: none;
    }

    .futur1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 10vh;
        
        .article {
            .content {
                width: 42%;
                position: relative;
                left: 25vw;
                margin-bottom: 3vh;
            }

            .animation-rectangle {
                top: auto;
                right: 109vw;
            }

            .animation-rectangle2 {
                position: absolute;
                right: 10vw;

                    .rectangle-deco1 {
                        height: 15rem;
                        width: 7.5rem;
                        border: solid 2px #C4E7D4;
                        position: absolute;
                    }
        
                    .rectangle-deco2 {
                        height: 15rem;
                        width: 7.5rem;
                        border: solid 2px #C4E7D4;
                        opacity: 80%;
                        position: absolute;
                        margin-top: 5px;
                        margin-left: 5px;
                    }
        
                    .rectangle-deco3 {
                        height: 15rem;
                        width: 7.5rem;
                        border: solid 2px #C4E7D4;
                        opacity: 60%;
                        position: absolute;
                        margin-top: 10px;
                        margin-left: 10px;
                    }
        
                    .rectangle-deco4 {
                        height: 15rem;
                        width: 7.5rem;
                        border: solid 2px #C4E7D4;
                        opacity: 40%;
                        position: absolute;
                        margin-top: 15px;
                        margin-left: 15px;
                    }
        
                    .rectangle-deco5 {
                        height: 15rem;
                        width: 7.5rem;
                        border: solid 2px #C4E7D4;
                        opacity: 20%;
                        position: absolute;
                        margin-top: 20px;
                        margin-left: 20px;
                    }
            }

            .animation-cube {
                display: flex;
                justify-content: center;
                top: 20px;
                margin-bottom: 3vh;
            }

            .cube1 {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }

            .cube-deco1 {
                background-image: url("http://localhost:8080/5w5/wp-content/uploads/2023/12/5.jpg");
                background-size: cover;
                background-position: center;
                height: 8rem;
                width: 10rem;
                border: solid 1px #2274A5;
            }

            .cube-deco2 {
                display: none;
            }

            .cube-deco3 {
                display: none;
            }

            .cube-deco4 {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 576px) { 
    .futur {
        & h2 {
            margin: 10px 0;
            font-size: 18px;
        }
    
        .wp-block-heading{
            font-size: 32px;
            color: #C4E7D4;
        }
    
        & p, li {
            font-size: 15px;
        }
    
        .futur1 {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 10vh;
            
            .article {
                .content {
                    width: 50%;
                    position: relative;
                    left: 25vw;
                    margin-bottom: 3vh;
                }
    
                .animation-rectangle {
                    top: auto;
                    position: relative;
                    right: 109vw;
                }
    
                .animation-rectangle2 {
                    position: absolute;
                    right: 10vw;
    
                        .rectangle-deco1 {
                            height: 15rem;
                            width: 7.5rem;
                            border: solid 2px #C4E7D4;
                            position: absolute;
                        }
            
                        .rectangle-deco2 {
                            height: 15rem;
                            width: 7.5rem;
                            border: solid 2px #C4E7D4;
                            opacity: 80%;
                            position: absolute;
                            margin-top: 5px;
                            margin-left: 5px;
                        }
            
                        .rectangle-deco3 {
                            height: 15rem;
                            width: 7.5rem;
                            border: solid 2px #C4E7D4;
                            opacity: 60%;
                            position: absolute;
                            margin-top: 10px;
                            margin-left: 10px;
                        }
            
                        .rectangle-deco4 {
                            height: 15rem;
                            width: 7.5rem;
                            border: solid 2px #C4E7D4;
                            opacity: 40%;
                            position: absolute;
                            margin-top: 15px;
                            margin-left: 15px;
                        }
            
                        .rectangle-deco5 {
                            height: 15rem;
                            width: 7.5rem;
                            border: solid 2px #C4E7D4;
                            opacity: 20%;
                            position: absolute;
                            margin-top: 20px;
                            margin-left: 20px;
                        }
                }
    
                .animation-cube {
                    display: flex;
                    justify-content: center;
                    top: 20px;
                    margin-bottom: 3vh;
                }
    
                .cube1 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }
    
                .cube-deco1 {
                    background-image: url("http://localhost:8080/5w5/wp-content/uploads/2023/12/5.jpg");
                    background-size: cover;
                    background-position: center;
                    height: 8rem;
                    width: 8rem;
                    border: solid 1px #2274A5;
                }
    
                .cube-deco2 {
                    display: none;
                }
    
                .cube-deco3 {
                    display: none;
                }
    
                .cube-deco4 {
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) { 
    .futur {
        & h2 {
            margin: 10px 0;
            font-size: 16px;
        }

        .wp-block-heading{
            font-size: 30px;
            color: #C4E7D4;
        }

        & p, li {
            font-size: 13.5px;
        }

        .futur1 {
            .article {
                margin-bottom: 20vh;
                .content {
                    position: absolute;
                    left: 20vw;
                    width: 35%;
                }

                    .animation-rectangle {
                        position: absolute;
                        right: 107vw;

                        .rectangle-deco1 {
                            height: 20rem;
                            width: 7rem;
                            border: solid 5px #C4E7D4;
                            position: absolute;
                        }
                        
                        .rectangle-deco2 {
                            height: 20rem;
                            width: 7rem;
                            border: solid 5px #C4E7D4;
                            opacity: 80%;
                            position: absolute;
                            margin-top: 10px;
                            margin-left: 10px;
                        }
                        
                        .rectangle-deco3 {
                            height: 20rem;
                            width: 7rem;
                            border: solid 5px #C4E7D4;
                            opacity: 60%;
                            position: absolute;
                            margin-top: 20px;
                            margin-left: 20px;
                        }
                        
                        .rectangle-deco4 {
                            height: 20rem;
                            width: 7rem;      
                            border: solid 5px #C4E7D4;
                            opacity: 40%;
                            position: absolute;
                            margin-top: 30px;
                            margin-left: 30px;
                        }
                        
                        .rectangle-deco5 {
                            height: 20rem;
                            width: 7rem;
                            border: solid 5px #C4E7D4;
                            opacity: 20%;
                            position: absolute;
                            margin-top: 40px;
                            margin-left: 40px;
                        }
                    }

                    .animation-cube {
                        display: flex;
                        position: relative;
                        left: 28vw;

                        .cube-deco1 {
                            background-image: url("http://localhost:8080/5w5/wp-content/uploads/2023/12/5.jpg");
                            background-size: cover;
                            background-position: center;
                            height: 16rem;
                            width: 16rem;
                            border: solid 1px #2274A5;
                        }
                        
                        .cube-deco2 {
                            display: none;
                        }
                        
                        .cube-deco3 {
                            display: none;
                        }
                        
                        .cube-deco4 {
                            display: none;
                        }
                    }
                }
                
                .article:nth-of-type(2), .article:nth-of-type(4) {
                    .animation-rectangle {
                        right: 8vw;
                    }
    
                    .animation-cube {
                        left: -30vw;
                    }
    
                    .content {
                        left: 48vw;
                    }
                    
                    .cube-deco1 {
                        background-image: url("http://localhost:8080/5w5/wp-content/uploads/2023/12/5.jpg");
                        background-size: cover;
                        background-position: center;
                    }
                }
        }
    }
}

@media screen and (min-width: 992px) { 
    .futur {
        & h2 {
            margin: 10px 0;
            font-size: 18px;
        }

        .wp-block-heading{
            font-size: 32px;
            color: #C4E7D4;
        }

        & p, li {
            font-size: 15px;
        }

        .futur1 {
            .article {
                margin-bottom: 20vh;
                .content {
                    position: absolute;
                    left: 20vw;
                    width: 30%;
                }

                    .animation-rectangle {
                        position: absolute;
                        right: 105vw;

                        .rectangle-deco1 {
                            height: 20rem;
                            width: 7rem;
                            border: solid 5px #C4E7D4;
                            position: absolute;
                        }
                        
                        .rectangle-deco2 {
                            height: 20rem;
                            width: 7rem;
                            border: solid 5px #C4E7D4;
                            opacity: 80%;
                            position: absolute;
                            margin-top: 10px;
                            margin-left: 10px;
                        }
                        
                        .rectangle-deco3 {
                            height: 20rem;
                            width: 7rem;
                            border: solid 5px #C4E7D4;
                            opacity: 60%;
                            position: absolute;
                            margin-top: 20px;
                            margin-left: 20px;
                        }
                        
                        .rectangle-deco4 {
                            height: 20rem;
                            width: 7rem;      
                            border: solid 5px #C4E7D4;
                            opacity: 40%;
                            position: absolute;
                            margin-top: 30px;
                            margin-left: 30px;
                        }
                        
                        .rectangle-deco5 {
                            height: 20rem;
                            width: 7rem;
                            border: solid 5px #C4E7D4;
                            opacity: 20%;
                            position: absolute;
                            margin-top: 40px;
                            margin-left: 40px;
                        }
                    }

                    .animation-cube {
                        display: flex;
                        position: relative;
                        left: 25vw;

                        .cube-deco1 {
                            background-image: url("http://localhost:8080/5w5/wp-content/uploads/2023/12/5.jpg");
                            background-size: cover;
                            background-position: center;
                            height: 20rem;
                            width: 20rem;
                            border: solid 1px #2274A5;
                        }
                        
                        .cube-deco2 {
                            display: none;
                        }
                        
                        .cube-deco3 {
                            display: none;
                        }
                        
                        .cube-deco4 {
                            display: none;
                        }
                    }
                }
                
                .article:nth-of-type(2), .article:nth-of-type(4) {
                    .animation-rectangle {
                        right: 7vw;
                    }
    
                    .animation-cube {
                        left: -30vw;
                    }
    
                    .content {
                        left: 50vw;
                    }

                    .cube-deco1 {
                        background-image: url("http://localhost:8080/5w5/wp-content/uploads/2023/12/5.jpg");
                        background-size: cover;
                        background-position: center;
                    }
                }
        }
    }
}

@media screen and (min-width: 1200px) {
    .futur {
        & h2 {
            margin: 10px 0;
            font-size: 20px;
        }

        .wp-block-heading{
            font-size: 40px;
            color: #C4E7D4;
        }

        & p, li {
            font-size: 1.1rem;
        }

        .futur1 {
            .article {
                margin-bottom: 20vh;
                .content {
                    position: absolute;
                    left: 20vw;
                    width: 30%;
                }

                    .animation-rectangle {
                        position: absolute;
                        right: 107vw;

                        .rectangle-deco1 {
                            height: 25rem;
                            width: 10rem;
                            border: solid 5px #C4E7D4;
                            position: absolute;
                        }
                        
                        .rectangle-deco2 {
                            height: 25rem;
                            width: 10rem;
                            border: solid 5px #C4E7D4;
                            opacity: 80%;
                            position: absolute;
                            margin-top: 10px;
                            margin-left: 10px;
                        }
                        
                        .rectangle-deco3 {
                            height: 25rem;
                            width: 10rem;
                            border: solid 5px #C4E7D4;
                            opacity: 60%;
                            position: absolute;
                            margin-top: 20px;
                            margin-left: 20px;
                        }
                        
                        .rectangle-deco4 {
                            height: 25rem;
                            width: 10rem;       
                            border: solid 5px #C4E7D4;
                            opacity: 40%;
                            position: absolute;
                            margin-top: 30px;
                            margin-left: 30px;
                        }
                        
                        .rectangle-deco5 {
                            height: 25rem;
                            width: 10rem;
                            border: solid 5px #C4E7D4;
                            opacity: 20%;
                            position: absolute;
                            margin-top: 40px;
                            margin-left: 40px;
                        }
                    }

                    .animation-cube {
                        display: flex;
                        position: relative;
                        left: 25vw;

                        .cube1 {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;
                        }
                        
                        .cube2 {
                            display: flex;
                            flex-direction: column;
                        }
                        
                        .cube-deco1 {
                            background-image: url("http://localhost:8080/5w5/wp-content/uploads/2023/12/5.jpg");
                            background-size: cover;
                            background-position: center;
                            height: 13rem;
                            width: 13rem;
                            border: solid 1px #2274A5;
                        }
                        
                        .cube-deco2 {
                            background-image: url("http://localhost:8080/5w5/wp-content/uploads/2023/12/5.jpg");
                            background-size: cover;
                            background-position: center;
                            display: flex;
                            height: 9rem;
                            width: 9rem;
                            border: solid 1px #2274A5;
                            margin-top: 20px;
                        }
                        
                        .cube-deco3 {
                            background-image: url("http://localhost:8080/5w5/wp-content/uploads/2023/12/5.jpg");
                            background-size: cover;
                            background-position: center;
                            display: flex;
                            height: 9rem;
                            width: 9rem;
                            border: solid 1px #2274A5;
                            margin-left: 20px;
                        }
                        
                        .cube-deco4 {
                            background-image: url("http://localhost:8080/5w5/wp-content/uploads/2023/12/5.jpg");
                            background-size: cover;
                            background-position: center;
                            display: flex;
                            height: 13rem;
                            width: 13rem;
                            border: solid 1px #2274A5;
                            margin-top: 20px;
                            margin-left: 20px;
                        }
                    }
                }
                
                .article:nth-of-type(2), .article:nth-of-type(4) {
                    .animation-rectangle {
                        right: 7vw;
                    }
    
                    .animation-cube {
                        left: -30vw;
                    }
    
                    .content {
                        left: 50vw;
                    }

                    .cube-deco1 {
                        background-image: url("http://localhost:8080/5w5/wp-content/uploads/2023/12/5.jpg");
                        background-size: cover;
                        background-position: center;
                    }
    
                    .cube-deco2{
                        background-image: url("http://localhost:8080/5w5/wp-content/uploads/2023/12/6.jpg");
                        background-size: cover;
                        background-position: center;
                    }
    
                    .cube-deco3{
                        background-image: url("http://localhost:8080/5w5/wp-content/uploads/2023/12/7.png");
                        background-size: cover;
                        background-position: center;
                    }
    
                    .cube-deco4{
                        background-image: url("http://localhost:8080/5w5/wp-content/uploads/2023/12/8.jpg");
                        background-size: cover;
                        background-position: center;
                    }
                }
        }
    }
}

@media screen and (min-width: 1500px) { 
    .futur {
        & h2 {
            margin: 10px 0;
            font-size: 24px;
        }

        .wp-block-heading{
            font-size: 40px;
            color: #C4E7D4;
        }

        & p, li {
            font-size: 1.2rem;
        }

        .futur1 {
            .article {
                margin-bottom: 20vh;
                .content {
                    position: absolute;
                    left: 15vw;
                    width: 30%;
                }

                    .animation-rectangle {
                        position: absolute;
                        right: 110vw;

                        .rectangle-deco1 {
                            height: 30rem;
                            width: 15rem;
                            border: solid 5px #C4E7D4;
                            position: absolute;
                        }
                        
                        .rectangle-deco2 {
                            height: 30rem;
                            width: 15rem;
                            border: solid 5px #C4E7D4;
                            opacity: 80%;
                            position: absolute;
                            margin-top: 10px;
                            margin-left: 10px;
                        }
                        
                        .rectangle-deco3 {
                            height: 30rem;
                            width: 15rem;
                            border: solid 5px #C4E7D4;
                            opacity: 60%;
                            position: absolute;
                            margin-top: 20px;
                            margin-left: 20px;
                        }
                        
                        .rectangle-deco4 {
                            height: 30rem;
                            width: 15rem;
                            border: solid 5px #C4E7D4;
                            opacity: 40%;
                            position: absolute;
                            margin-top: 30px;
                            margin-left: 30px;
                        }
                        
                        .rectangle-deco5 {
                            height: 30rem;
                            width: 15rem;
                            border: solid 5px #C4E7D4;
                            opacity: 20%;
                            position: absolute;
                            margin-top: 40px;
                            margin-left: 40px;
                        }
                    }

                    .animation-cube {
                        display: flex;
                        position: relative;
                        left: 23vw;

                        .cube1 {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;
                        }
                        
                        .cube2 {
                            display: flex;
                            flex-direction: column;
                        }
                        
                        .cube-deco1 {
                            background-image: url("http://localhost:8080/5w5/wp-content/uploads/2023/12/1.jpg");
                            background-size: cover; 
                            background-position: center;
                            height: 17rem;
                            width: 17rem;
                            border: solid 1px #2274A5;
                        }
                        
                        .cube-deco2 {
                            background-image: url("http://localhost:8080/5w5/wp-content/uploads/2023/12/5.jpg");
                            background-size: cover;
                            background-position: center;
                            display: flex;
                            height: 11rem;
                            width: 11rem;
                            border: solid 1px #2274A5;
                            margin-top: 20px;
                        }
                        
                        .cube-deco3 {
                            background-image: url("http://localhost:8080/5w5/wp-content/uploads/2023/12/1.jpg");
                            background-size: cover;
                            background-position: center;
                            display: flex;
                            height: 11rem;
                            width: 11rem;
                            border: solid 1px #2274A5;
                            margin-left: 20px;
                        }
                        
                        .cube-deco4 {
                            background-image: url("http://localhost:8080/5w5/wp-content/uploads/2023/12/1.jpg");
                            background-size: cover;
                            background-position: center;
                            display: flex;
                            height: 17rem;
                            width: 17rem;
                            border: solid 1px #2274A5;
                            margin-top: 20px;
                            margin-left: 20px;
                        }
                    }
                }
                
                .article:nth-of-type(2), .article:nth-of-type(4) {
                    .animation-rectangle {
                        right: 7vw;
                    }
    
                    .animation-cube {
                        left: -30vw;
                    }
    
                    .content {
                        left: 50vw;
                    }

                    .cube-deco1 {
                        background-image: url("http://localhost:8080/5w5/wp-content/uploads/2023/12/5.jpg");
                        background-size: cover;
                        background-position: center;
                    }
    
                    .cube-deco2{
                        background-image: url("http://localhost:8080/5w5/wp-content/uploads/2023/12/6.jpg");
                        background-size: cover;
                        background-position: center;
                    }
    
                    .cube-deco3{
                        background-image: url("http://localhost:8080/5w5/wp-content/uploads/2023/12/7.png");
                        background-size: cover;
                        background-position: center;
                    }
    
                    .cube-deco4{
                        background-image: url("http://localhost:8080/5w5/wp-content/uploads/2023/12/8.jpg");
                        background-size: cover;
                        background-position: center;
                    }
                }
        }
    }
}

@media screen and (min-width: 2000px) {
    .futur {
        & h2 {
            margin: 10px 0;
            font-size: 32px;
        }

        .wp-block-heading{
            font-size: 60px;
            color: #C4E7D4;
        }

        & img {
            width: 100%;
            height: auto;
        }

        & p, li {
            font-size: 1.5rem;
            text-decoration: none;
        }

        .futur1 {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-top: 100px;
            margin-bottom: 25vh;

            .article {
                
                margin-bottom: 30vh;

                    .content {
                        position: absolute;
                        left: 15vw;
                        width: 30%;
                    }

                        .animation-rectangle {
                            position: absolute;
                            right: 109vw;

                            .rectangle-deco1 {
                                height: 40rem;
                                width: 20rem;
                                border: solid 5px #C4E7D4;
                                position: absolute;
                            }
                            
                            .rectangle-deco2 {
                                height: 40rem;
                                width: 20rem;
                                border: solid 5px #C4E7D4;
                                opacity: 80%;
                                position: absolute;
                                margin-top: 10px;
                                margin-left: 10px;
                            }
                            
                            .rectangle-deco3 {
                                height: 40rem;
                                width: 20rem;
                                border: solid 5px #C4E7D4;
                                opacity: 60%;
                                position: absolute;
                                margin-top: 20px;
                                margin-left: 20px;
                            }
                            
                            .rectangle-deco4 {
                                height: 40rem;
                                width: 20rem;
                                border: solid 5px #C4E7D4;
                                opacity: 40%;
                                position: absolute;
                                margin-top: 30px;
                                margin-left: 30px;
                            }
                            
                            .rectangle-deco5 {
                                height: 40rem;
                                width: 20rem;
                                border: solid 5px #C4E7D4;
                                opacity: 20%;
                                position: absolute;
                                margin-top: 40px;
                                margin-left: 40px;
                            }
                        }

                .animation-cube {
                    display: flex;
                    position: relative;
                    left: 25vw;

                    .cube1 {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                    }
                    
                    .cube2 {
                        display: flex;
                        flex-direction: column;
                    }
                    
                    .cube-deco1 {
                        background-image: url("https://gftnth00.mywhc.ca/tim04/wp-content/uploads/2023/12/Recif_Corail.png");
                        background-size: cover;
                        display: flex;
                        height: 25rem;
                        width: 25rem;
                        border: solid 1px #2274A5;
                    }
                    
                    .cube-deco2 {
                        background-image: url("https://gftnth00.mywhc.ca/tim04/wp-content/uploads/2023/12/20230905_105824-scaled.jpg");
                        background-size: cover;
                        display: flex;
                        height: 15rem;
                        width: 15rem;
                        border: solid 1px #2274A5;
                        margin-top: 20px;
                    }
                    
                    .cube-deco3 {
                        background-image: url("https://gftnth00.mywhc.ca/tim04/wp-content/uploads/2023/12/Katana1.jpg");
                        background-size: cover;
                        display: flex;
                        height: 15rem;
                        width: 15rem;
                        border: solid 1px #2274A5;
                        margin-left: 20px;
                    }
                    
                    .cube-deco4 {
                        background-image: url("https://gftnth00.mywhc.ca/tim04/wp-content/uploads/2023/12/20230905_110836-scaled.jpg");
                        background-size: cover;
                        display: flex;
                        height: 25rem;
                        width: 25rem;
                        border: solid 1px #2274A5;
                        margin-top: 20px;
                        margin-left: 20px;
                    }
                }
            }


            .article:nth-of-type(2), .article:nth-of-type(4) {
                .animation-rectangle {
                    right: 5vw;
                }

                .animation-cube {
                    left: -30vw;
                }

                .content {
                    left: 50vw;
                }

                .cube-deco1 {
                    background-image: url("https://gftnth00.mywhc.ca/tim04/wp-content/uploads/2023/12/Recif_Corail.png");
                    background-size: cover;
                    background-position: center;
                }

                .cube-deco2{
                    background-image: url("https://gftnth00.mywhc.ca/tim04/wp-content/uploads/2023/12/20230905_105824-scaled.jpg");
                    background-size: cover;
                    background-position: center;
                }

                .cube-deco3{
                    background-image: url("https://gftnth00.mywhc.ca/tim04/wp-content/uploads/2023/12/Katana1.jpg");
                    background-size: cover;
                    background-position: center;
                }

                .cube-deco4{
                    background-image: url("https://gftnth00.mywhc.ca/tim04/wp-content/uploads/2023/12/20230905_110836-scaled.jpg");
                    background-size: cover;
                    background-position: center;
                }
            }
        }
    }
}   